<%= javascript_include_tag "create_funding" %>
<%= javascript_include_tag "https://cdn.dwolla.com/dwolla.js" %>

<div class="row">
<br />
<div class="well">
    Instead of collecting routing and account numbers for verification, Dwolla IAV can create a funding source with the user's online banking information. Nothing is stored and everything is transported through HTTPS &mdash; convenience without a security compromise.
</div>
</div>

<div class="row">
<h4 class="page-header">IAV User Experience</h4>
  <div class="col-sm-12 col-sm-12" id="dwolla-iav">
    <a type="button" class="btn btn-lg btn-primary" href="#" id="dwolla-iav-button">Begin IAV</a>
    <span id="dwolla-iav-token">
      <%= @iav_token %>
    </span>
  </div>
</div>

<div class="row">
<h4 class="page-header">Retrieving your IAV token</h4>
  <div class="col-sm-12 col-sm-12">
    <p><%== Parser.md.render(@iav_request).html_safe %></p>
    <p><%== Parser.md.render(@iav_response).html_safe %></p>
    <br />
  </div>
</div>