<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/frameworks/bootstrap/3.0.0/themes/cirrus/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <div class="container">
    <%= render partial: "layouts/header" %>
    <%= render partial: "layouts/bs_alerts", flash: flash %>
    <%= yield %>
    <%= render partial: "layouts/footer" %>
    </div>
  </body>
</html>